In [25]:
rows = 6
for i in range(rows):
    for j in range(i):
        print (j, end=" ")
    print ("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [39]:
list1 = [1,2,3,4,5]
print (len(list1))

5

In [41]:
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print (list1[i])

1
2
3
4
5

In [45]:
list1

[1, 2, 3, 4, 5]

In [55]:
animal = {
    'name' : 'dog',
    'legs' : 4,
    'eyes' : 2
}
print (animal)

{'name': 'dog', 'legs': 4, 'eyes': 2}

In [65]:
country = "pakistan"
country.count("tan")

1

In [81]:
car = {
    'name' : 'corolla',
    'brand' : 'toyota',
    'type' : 'sedan'
}
car["name"] = 'yaris'
print (car)

{'name': 'yaris', 'brand': 'toyota', 'type': 'sedan'}

In [73]:
employee = {}
size = int(input("Enter size of elements in dictionary"))

for i in range(size):
    name = input("Enter name: ")
    salary = input("Enter salary: ")
    id = input("Enter id: ")
    employee[name] = salary

for i in range(size):
    print ("Name is: ", employee)
    print ("Salary is: ", employee)
    print ("Id is: ", employee)

Enter size of elements in dictionary 2
Enter name:  ali
Enter salary:  545454
Enter id:  23
Enter name:  babloo
Enter salary:  243434
Enter id:  22

Name is:  {'ali': '545454', 'babloo': '243434'}
Salary is:  {'ali': '545454', 'babloo': '243434'}
Id is:  {'ali': '545454', 'babloo': '243434'}
Name is:  {'ali': '545454', 'babloo': '243434'}
Salary is:  {'ali': '545454', 'babloo': '243434'}
Id is:  {'ali': '545454', 'babloo': '243434'}

In [87]:
size = int(input("enter size of list: "))
list1 = [size]
for i in range(size):
    num = int(input("Enter number:"))
    list1.append(num)
find = int(input("Enter the number you want to find"))
for j in range(1,size+1):
    if (find == list1[j]):
        print ("The number ", list1[j], " is at index " , j)

enter size of list:  2
Enter number: 1
Enter number: 2
Enter the number you want to find 1

The number  1  is at index  1

In [7]:
num1 = input("enter num1: ")
num2 = int(input("enter num2 to find"))
num1[num2-1]

enter num1:  456
enter num2 to find 2

'5'

In [45]:
para = input("Enter some string")
length = len(para)
find = para[length-1]
print ("Last character of string", find)
print ("Second last character of string ", para[-2])

Enter some string abcd

Last character of string d
Second last character of string  c

In [91]:
dict = {}
size = int(input("Enter size of dict: "))
for i in range (0, size):
    key = input("Enter brand name: ")
    value = input("Enter car name: ")
    dict[key] = value

for i in range(0,size):
    print (f"Car Brand is: {dict[key]}" )

Enter size of dict:  1
Enter brand name:  toyota
Enter car name:  corolla

Car Brand is: corolla